@mixin full-stop-gradient($angle, $color-stops...) {

  $gradient: '';
  @each $color-stop in $color-stops {
    $i: index($color-stops, $color-stop);

    $next-color-stop: null;
    $next-index: $i + 1;
    @if $next-index <= length($color-stops) and $next-index > 0 {
      $next-color-stop: nth($color-stops, $next-index);
    }

    $color: nth($color-stop, 1);
    $stop: '';
    $next-stop: '';

    @if length($color-stop) > 1 {
      $stop: nth($color-stop, 2);
    }
    @if $next-color-stop {
      @if length($next-color-stop) > 1 {
        $next-stop: nth($next-color-stop, 2);
      }
    }

    $gradient: '#{$gradient}#{$color} #{$stop}, #{$color} #{$next-stop}';
    @if $i < length($color-stops) {
      $gradient: $gradient + ',';
    }
  }

  background-color: nth(nth($color-stops, 1), 1);
  background-image: linear-gradient($angle, unquote($gradient));
  background-repeat: no-repeat;
  background-position: 0 0;
}
